[Bb]in
[Oo]bj
TestResults
*.suo
*.user
*.sln.docstates
*.Publish.xml
*.Cache
packages
nupkgs
nupkgs/*
_UpgradeReport_Files/
Backup*/
UpgradeLog*.xml
UpgradeLog.htm
Desktop.ini
[Tt]humbs.db
*.zip
*.rar
